Meilenstein 1 - XML Schema/Topics.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Profil" xmlns:tns="http://www.example.org/Profil" elementFormDefault="qualified">
    <xs:element name="Topic">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="TopicName" type="xs:string" />
                <xs:element name="TopicImage" type="xs:anyURI" />
                <xs:element name="TopicViewerCount" type="xs:int" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
